In [80]:
import pandas as pd

wpp=pd.read_excel("/home/pokane/C3S/v4/wind_c3s_test_2/inputs_PECD_4p2_v2/WPP_loc_files/Existing_locs/Existing_Offshore_points.xlsx")
v1_file=pd.read_excel("/home/pokane/C3S/v4/wind_c3s_test_2/inputs_general/Aggregation_weights/PECD4.2/Offshore_Existing_run.xlsx")
v1_file

,PECD_CODE,PECD_STUDY_ZONE,Country,NUTS0,Weight_in_aggregation,Installed_capacity_MW
0,BE012_OFF,BE00_OFF,BE_OFF,BE_OFF,1774.75,1774.75
1,DE011_OFF,DE00_OFF,DE_OFF,DE_OFF,3974.92,3974.92
2,DE012_OFF,DE00_OFF,DE_OFF,DE_OFF,2655.22,2655.22
3,DE02_OFF,DE00_OFF,DE_OFF,DE_OFF,1088.90,1088.90
4,DKE1_OFF,DKE1_OFF,DK_OFF,DK_OFF,423.40,423.40
5,DKW11_OFF,DKW1_OFF,DK_OFF,DK_OFF,776.00,776.00
6,DKW12_OFF,DKW1_OFF,DK_OFF,DK_OFF,456.20,456.20
7,ES04_OFF,ES00_OFF,ES_OFF,ES_OFF,20.00,20.00
8,FI021_OFF,FI00_OFF,FI_OFF,FI_OFF,44.30,44.30
9,FR081_OFF,FR00_OFF,FR_OFF,FR_OFF,10.20,10.20
10,IE00_OFF,IE00_OFF,IE_OFF,IE_OFF,25.20,25.20
11,NL011_OFF,NL00_OFF,NL_OFF,NL_OFF,600.00,600.00
12,NL031_OFF,NL00_OFF,NL_OFF,NL_OFF,357.00,357.00
13,NL033_OFF,NL00_OFF,NL_OFF,NL_OFF,19.00,19.00
14,NOS21_OFF,NOS0_OFF,NO_OFF,NO_OFF,22.30,22.30
15,PT02_OFF,PT00_OFF,PT_OFF,PT_OFF,25.00,25.00
16,SE03_OFF,SE03_OFF,SE_OFF,SE_OFF,50.75,50.75
17,SE04_OFF,SE04_OFF,SE_OFF,SE_OFF,110.40,110.40
18,UK011_OFF,UK00_OFF,UK_OFF,UK_OFF,3285.50,3285.50
19,UK031_OFF,UK00_OFF,UK_OFF,UK_OFF,1072.00,1072.00
20,UK032_OFF,UK00_OFF,UK_OFF,UK_OFF,1756.50,1756.50
21,UK041_OFF,UK00_OFF,UK_OFF,UK_OFF,532.60,532.60
22,UK042_OFF,UK00_OFF,UK_OFF,UK_OFF,1218.00,1218.00
23,UK043_OFF,UK00_OFF,UK_OFF,UK_OFF,1829.00,1829.00
24,UK051_OFF,UK00_OFF,UK_OFF,UK_OFF,718.20,718.20

In [81]:
wpp= wpp[["Code","Study_Zone","Installed_capacity_MW"]]

final = wpp.merge(v1_file[['PECD_CODE', 'Country', 'NUTS0']],
                      left_on='Code', 
                      right_on='PECD_CODE',
                      how='left')

final = final.groupby(['Code', 'Study_Zone', 'Country', 'NUTS0'], as_index=False)['Installed_capacity_MW'].sum()


final=final.rename(columns={"Installed_capacity_MW": "Weight_in_aggregation"})
final.to_excel("Offshore_Existing_run.xlsx")


final

         Code Study_Zone Country   NUTS0  Weight_in_aggregation
0   BE012_OFF   BE00_OFF  BE_OFF  BE_OFF                1774.75
1   DE011_OFF   DE00_OFF  DE_OFF  DE_OFF                3974.92
2   DE012_OFF   DE00_OFF  DE_OFF  DE_OFF                2655.22
3    DE02_OFF   DE00_OFF  DE_OFF  DE_OFF                1088.90
4    DKE1_OFF   DKE1_OFF  DK_OFF  DK_OFF                 423.40
5   DKW11_OFF   DKW1_OFF  DK_OFF  DK_OFF                 776.00
6   DKW12_OFF   DKW1_OFF  DK_OFF  DK_OFF                 456.20
7    ES04_OFF   ES00_OFF  ES_OFF  ES_OFF                  20.00
8   FI021_OFF   FI00_OFF  FI_OFF  FI_OFF                  44.30
9   NL011_OFF   NL00_OFF  NL_OFF  NL_OFF                 600.00
10  NL031_OFF   NL00_OFF  NL_OFF  NL_OFF                 357.00
11  NL033_OFF   NL00_OFF  NL_OFF  NL_OFF                  19.00
12  NOS21_OFF   NOS2_OFF  NO_OFF  NO_OFF                  22.30
13   PT02_OFF   PT00_OFF  PT_OFF  PT_OFF                  25.00
14   SE03_OFF   SE03_OFF  SE_OFF  SE_OFF                  50.75
15   SE04_OFF   SE04_OFF  SE_OFF  SE_OFF                 110.40
16  UK011_OFF   UK00_OFF  UK_OFF  UK_OFF                3285.50
17  UK031_OFF   UK00_OFF  UK_OFF  UK_OFF                1072.00
18  UK032_OFF   UK00_OFF  UK_OFF  UK_OFF                1756.50
19  UK041_OFF   UK00_OFF  UK_OFF  UK_OFF                 532.60
20  UK042_OFF   UK00_OFF  UK_OFF  UK_OFF                1218.00
21  UK043_OFF   UK00_OFF  UK_OFF  UK_OFF                1829.00
22  UK051_OFF   UK00_OFF  UK_OFF  UK_OFF                 718.20

In [82]:
wpp=pd.read_excel("/home/pokane/C3S/v4/wind_c3s_test_2/inputs_PECD_4p2_v2/WPP_loc_files/Existing_locs/Existing_Onshore_points.xlsx")
v1_file=pd.read_excel("/home/pokane/C3S/v4/wind_c3s_test_2/inputs_general/Aggregation_weights/PECD4.2/Onshore_Existing_run.xlsx")





final= wpp[["Code","Study_Zone","Installed_capacity_MW"]]

final = final.merge(v1_file[['PECD_CODE', 'Country', 'NUTS0']],
                      left_on='Code', 
                      right_on='PECD_CODE',
                      how='left')

final = final.groupby(['Code', 'Study_Zone', 'Country', 'NUTS0'], as_index=False)['Installed_capacity_MW'].sum()

final=final.rename(columns={"Installed_capacity_MW": "Weight_in_aggregation"})

final.to_excel("Onshore_Existing_run.xlsx")
final

     Code Study_Zone Country NUTS0  Weight_in_aggregation
0    AT01       AT00      AT    AT               2643.442
1    AT02       AT00      AT    AT                248.000
2    AT03       AT00      AT    AT                  3.300
3    BA00       BA00      BA    BA                 86.600
4    BE01       BE00      BE    BE                582.710
..    ...        ...     ...   ...                    ...
113  UK03       UK00      UK    UK               2068.215
114  UK04       UK00      UK    UK               4854.805
115  UK05       UK00      UK    UK               4537.860
116  UKNI       UKNI      UK    UK               1217.885
117  XK00       RS00      XK    XK                 32.400

[118 rows x 5 columns]

In [84]:
wpp=pd.read_excel("/home/pokane/C3S/v4/wind_c3s_test_2/inputs_PECD_4p2_v2/WPP_loc_files/Future_locs/Offshore/Furure_WPP_Offshore_SP370_hh155_RGB.xlsx")
v1_file=pd.read_excel("/home/pokane/C3S/v4/wind_c3s_test_2/inputs_general/Aggregation_weights/PECD4.2/Offshore_Future_tech_runs.xlsx")





final= wpp[["Code","Study_Zone","Installed_capacity_MW"]]

final = final.merge(v1_file[['PECD_CODE', 'Country', 'NUTS0']],
                      left_on='Code', 
                      right_on='PECD_CODE',
                      how='left')

#final = final.groupby(['Code', 'Study_Zone', 'Country', 'NUTS0'], as_index=False)['Installed_capacity_MW'].sum()

#final.to_excel("Onshore_Existing_run.xlsx")

result = (
    final.groupby(['Code', 'Study_Zone', 'Country', 'NUTS0'], as_index=False)
      .size()
      .rename(columns={'size': 'Weight_in_aggregation'})
)

result.to_excel("Offshore_Future_tech_runs.xlsx")
result


#final['Weight_in_aggregation'] = final.groupby('Code')['Code'].transform('count')
#final = final.drop_duplicates(subset=['Code', 'Study_Zone', 'PECD_STUDY_ZONE', 'Country', 'NUTS0', 'Weight_in_aggregation'])
#final

         Code Study_Zone Country   NUTS0  Weight_in_aggregation
0    AL00_OFF   AL00_OFF  AL_OFF  AL_OFF                      8
1   BE011_OFF   BE00_OFF  BE_OFF  BE_OFF                      1
2   BE012_OFF   BE00_OFF  BE_OFF  BE_OFF                      2
3   BE013_OFF   BE00_OFF  BE_OFF  BE_OFF                      2
4    BG01_OFF   BG00_OFF  BG_OFF  BG_OFF                     13
..        ...        ...     ...     ...                    ...
94  UK043_OFF   UK00_OFF  UK_OFF  UK_OFF                     13
95  UK051_OFF   UK00_OFF  UK_OFF  UK_OFF                     72
96  UK052_OFF   UK00_OFF  UK_OFF  UK_OFF                     36
97  UK053_OFF   UK00_OFF  UK_OFF  UK_OFF                     54
98   UKNI_OFF   UKNI_OFF  UK_OFF  UK_OFF                      4

[99 rows x 5 columns]

In [85]:
wpp=pd.read_excel("/home/pokane/C3S/v4/wind_c3s_test_2/inputs_PECD_4p2_v2/WPP_loc_files/Future_locs/Onshore/Furure_WPP_Onshore_SP335_hh200_RGB.xlsx")
v1_file=pd.read_excel("/home/pokane/C3S/v4/wind_c3s_test_2/inputs_general/Aggregation_weights/PECD4.2/Onshore_Future_tech_runs.xlsx")





final= wpp[["Code","Study_Zone","Installed_capacity_MW"]]

final = final.merge(v1_file[['PECD_CODE', 'Country', 'NUTS0']],
                      left_on='Code', 
                      right_on='PECD_CODE',
                      how='left')

#final = final.groupby(['Code', 'Study_Zone', 'Country', 'NUTS0'], as_index=False)['Installed_capacity_MW'].sum()

#final.to_excel("Onshore_Existing_run.xlsx")

result = (
    final.groupby(['Code', 'Study_Zone', 'Country', 'NUTS0'], as_index=False)
      .size()
      .rename(columns={'size': 'Weight_in_aggregation'})
)

result.to_excel("Onshore_Future_tech_runs.xlsx")
result

     Code Study_Zone Country NUTS0  Weight_in_aggregation
0    AL00       AL00      AL    AL                     15
1    AT01       AT00      AT    AT                      7
2    AT02       AT00      AT    AT                     16
3    AT03       AT00      AT    AT                      4
4    BA00       BA00      BA    BA                     35
..    ...        ...     ...   ...                    ...
139  UK03       UK00      UK    UK                     41
140  UK04       UK00      UK    UK                     28
141  UK05       UK00      UK    UK                     44
142  UKNI       UKNI      UK    UK                     10
143  XK00       RS00      XK    XK                      6

[144 rows x 5 columns]

In [48]:
final

           Code Study_Zone  Installed_capacity_MW
0      NON1_OFF   NON1_OFF                    500
1      NON1_OFF   NON1_OFF                    500
2      NON1_OFF   NON1_OFF                    500
3      NON1_OFF   NON1_OFF                    500
4      NON1_OFF   NON1_OFF                    500
...         ...        ...                    ...
2918   MA12_OFF   MA00_OFF                    500
2919   MA12_OFF   MA00_OFF                    500
2920   SI00_OFF   SI00_OFF                    500
2921  FR115_OFF   FR00_OFF                    500
2922  FR116_OFF   FR00_OFF                    500

[2923 rows x 3 columns]